In [5]:
import pandas as pd

In [7]:
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']
df = pd.read_csv(url, header=None, names=columns)

In [9]:
df

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

In [13]:
num_rows = len(df)
print(f"Number of rows in the data frame: {num_rows}")

Number of rows in the data frame: 150

In [15]:
# Extracting the 'sepal_length' column
sepal_length_series = df['sepal_length']
sepal_length_series

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [17]:
duplicates_subset = df.duplicated(subset=['sepal_length', 'sepal_width'])
num_duplicates_subset = duplicates_subset.sum()

print(f"\nNumber of duplicate rows based on 'sepal_length' and 'sepal_width': {num_duplicates_subset}")

Number of duplicate rows based on 'sepal_length' and 'sepal_width': 34

In [44]:
df = df.drop_duplicates(subset=['sepal_length', 'sepal_width'])

In [21]:
new_num_rows = len(df)
print(f"Number of rows after removing duplicates: {new_num_rows}")

Number of rows after removing duplicates: 150

In [25]:
subset_df = df[df['class'] == 'Iris-setosa']

In [27]:
print(f"Length of the subset data frame: {len(subset_df)}")

Length of the subset data frame: 50

In [29]:
print("First 10 rows:")
print(df.head(10))

print("\nLast 10 rows:")
print(df.tail(10))

print("\nRandom 10 rows:")
print(df.sample(10))

First 10 rows:
   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

Last 10 rows:
     sepal_length  sepal_width  petal_length  petal_width           class
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

Random 10 rows:
     sepal_length  sepal_width  petal_length  petal_width            class
40            5.0          3.5           1.3          0.3      Iris-setosa
138           6.0          3.0           4.8          1.8   Iris-virginica
42            4.4          3.2           1.3          0.2      Iris-setosa
59            5.2          2.7           3.9          1.4  Iris-versicolor
148           6.2          3.4           5.4          2.3   Iris-virginica
85            6.0          3.4           4.5          1.6  Iris-versicolor
38            4.4          3.0           1.3          0.2      Iris-setosa
125           7.2          3.2           6.0          1.8   Iris-virginica
53            5.5          2.3           4.0          1.3  Iris-versicolor
57            4.9          2.4           3.3          1.0  Iris-versicolor

BONUS TASK!!

In [32]:
mean_sepal_length = df['sepal_length'].mean()
median_sepal_length = df['sepal_length'].median()

print(f"Mean of sepal length: {mean_sepal_length}, Median of sepal length: {median_sepal_length}")

Mean of sepal length: 5.843333333333334, Median of sepal length: 5.8